* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-size: 20rem;
    line-height: calc(30 / 20);
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

.wrapper {
    max-width: 960rem;
    width: calc(100% - 40rem);
    margin: 0 auto;
}

.section-top {
    padding: 100rem 0 50rem;
}

.section-top-instruction__progress-bar {
    height: 10rem;
    background-color: lightgray;
}

.section-top-instruction__bar-track {
    width: 0%;
    height: 100%;
    display: block;
    transition: transform 0.5s ease;
}

.section-top-instruction__time {
    padding-bottom: 30rem;
    border-bottom: 10rem solid lightgray;
    margin-bottom: 30rem;
    text-align: center;
    font-weight: 700;
}

.section-top-instruction {
    padding: 0 0 100rem;
}

.section-top-instruction__tutorial {
    margin-top: 30rem;
}

.section-top-instruction__tutorial-block {
    margin-top: 20rem;
    display: none;
    font-size: 16rem;
    text-align: center;
}

.section-top-generate {
    padding: 0 0 50rem;
}

.title-top-primary {
    margin: 0;
    padding: 0;
    font-size: 40rem;
    font-weight: 900;
    text-align: center;
}

.title-top-primary strong {
    color: red;
}


.iframe-top-x {
    padding-top: calc(1080 / 1920 * 100%);
    position: relative;
}

.iframe-top-x iframe {
    width: 100%;
    height: 100%;
    border: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.timer-top-primary {
    display: block;
    font-size: 18rem;
    font-weight: 500;
    text-align: center;
}

.link-top-primary {
    display: block;
    padding: 10rem 20rem;
    background-color: red;
    color: white;
    font-size: 20rem;
    font-weight: 700;
    text-align: center;
    cursor: pointer;
}

.link-top-primary small {
    display: block;
    margin-top: 5rem;
    font-size: 12rem;
}

.quote-top-primary {
    margin-top: 20rem;
    border: 3px solid lightgray;
    padding: 30rem 20rem;
    font-size: 16rem;
    font-style: italic;
}

.controller-top-primary {
    margin-top: 30rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10rem;
}

@media (min-width: 1080px) {
    html {
        font-size: 6.25%;
    }
}

@media (min-width: 768px) and (max-width: 1079.98px) {
    html {
        font-size: calc(100vw / 1080);
    }
}

@media (max-width: 767.98px) {
    html {
        font-size: calc(100vw / 375);
    }

    body {
        font-size: 16rem;
    }

    .title-top-primary {
        font-size: 20rem;
    }
}