@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&family=Noto+Sans+SC:wght@100..900&display=swap');

body {
    font-size: 16rem;
    line-height: calc(24 / 16);
    font-family: "Noto Sans JP", "Noto Sans SC", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}

main {
    padding: 100rem 0;
}

.wrapper {
    max-width: 960rem;
    width: calc(100% - 40rem);
    margin: 0 auto;
}

.section-top {
}

.section-top-instruction__progress-bar {
    height: 10rem;
    background-color: lightgray;
}

.section-top-instruction__bar-track {
    width: 0%;
    height: 100%;
    display: block;
    transition: transform 0.5s ease;
}

.section-top-instruction__time {
    font-size: 20rem;
    text-align: center;
    font-weight: 700;
}

.section-top-instruction__time strong {
    font-size: 27rem;
    font-weight: 900;
    color: red;
}

.section-top-instruction {
}

.section-top-instruction__tutorial {
    display: flex;
    flex-direction: column;
    gap: 30rem;
    text-align: center;
}

.section-top-instruction__tutorial-block {
    display: none;
}

.section-top-instruction__tutorial-block h2 {
    margin: 0 0 10rem;
    padding: 0;
    display: block;
    font-size: 18rem;
    font-weight: 500;
}

.section-top-instruction__tutorial-block ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 5rem;
    list-style: none;
}

.section-top-generate {
}

.breaker-top-primary {
    margin: 30rem 0;
}

.title-top-primary {
    margin: 0;
    padding: 0;
    font-size: 40rem;
    font-weight: 900;
    text-align: center;
}

.title-top-primary strong {
    color: red;
}


.iframe-top-x {
    padding-top: calc(1080 / 1920 * 100%);
    position: relative;
}

.iframe-top-x iframe {
    width: 100%;
    height: 100%;
    border: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.label-top-primary {
    margin-bottom: 10rem;
    display: block;
    font-size: 18rem;
    font-weight: 700;
    text-align: center;
}

.link-top-primary {
    display: block;
    padding: 10rem 20rem;
    background-color: red;
    color: white;
    font-size: 20rem;
    font-weight: 700;
    text-align: center;
    cursor: pointer;
}

.link-top-primary small {
    display: block;
    margin-top: 5rem;
    font-size: 12rem;
}

.quote-top-primary {
    border: 3px solid lightgray;
    padding: 30rem 20rem;
    font-size: 18rem;
    font-weight: 900;
    font-style: italic;
}

.controller-top-primary {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10rem;
}

@media (min-width: 1080px) {
    html {
        font-size: 6.25%;
    }
}

@media (min-width: 768px) and (max-width: 1079.98px) {
    html {
        font-size: calc(100vw / 1080);
    }
}

@media (max-width: 767.98px) {
    html {
        font-size: calc(100vw / 375);
    }

    .title-top-primary {
        font-size: 20rem;
    }
}